<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>메인화면</title>
</head>
<body>

<!--"localhost:8080"으로 연결 시 기본값인 index.html이 있어야함-->
<header>
    <div th:replace="~{layouts/header}"></div>
</header>
    <div class="container" style="width: 350px; margin-top: 100px;">
<!--    <div th:replace="~{member/loginForm}"></div>-->
        <a href="#">회원가입</a>
        <a href="#">로그인</a>
        <a href="boardList">게시판 목록</a>
        <a href="#">회원가입</a>
        <a href="#">회원가입</a>
        <a href="#">회원가입</a>
    </div>


<footer>
    <div th:replace="~{layouts/footer}"></div>
</footer>
</body>
</html>